- name: "NPM Identity"
  env:
    NPM_TOKEN: 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
  run: |
    echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" > .npmrc
- name: "Publish"
  run: |
    npx lerna publish from-package --no-verify-access --yes